/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

*{
  font-family:sans-serif;
}

//makes the background orange for the nav bar
.bg-orange {
  background-color: #FF5500;
  font-size: 1.5em;
}

//fix the nav bar about padding
.padding {
  padding: .5rem 1rem;
}

// adjust the size of title
.title {
  font-size: 1.25em;
  font-weight: bold;
}

//white text for menu items
.text-white
{
  color: white;
}

//purple background colour
.purple
{
  background-color: #510063;
}

//purple for the menu highlight
.hpurple:hover
{
  border-radius: 2px;
  background-color: #510063;
}

// lighter purple for menu highlight
.highlight:hover {
  background-color: #610276;
}

// round jumbo
.round-button {
  border-radius: 20px;
  border-color: #ff5500;
  padding-left: 15px;
  font-size: .9em;

}

.underjumbo {
  font-size: .75em;
  padding-left: 15px;

}

//jumbo text sizing
.jumbotext {
  padding-left: 15px;
  font-size: 2.5em;
  font-weight:bold;
}


// article section
.article-row {
  max-height: 200px;
}
