<article class="article">
  <div class="container">
    <div class="row">

      <div class="col-1 left-icon">
      <%=image_tag("left.png", size: "50x50" , alt: "Amaysim")%>
      </div>
      <div class="col-3">
        <p class="article title">no lock-in contracts</p>
        <p class="article">Freedom to switch your plan or cancel at anytime.</p>
      </div>

      <div class="col-1 middle-icon">

        <%=image_tag("middle.png", size: "50x50" , alt: "Amaysim")%>
      </div>
      <div class="col-3">
        <p class="article title">simple to join</p>
        <p class="article">
          Quick and easy online sign-up, we’ll take care of all the fiddly bits.</p>

      </div>

      <div class="col-1">

        <%=image_tag("right.png", size: "50x50" , alt: "Amaysim")%>
      </div>
      <div class="col-3 right-icon">
        <p class="article title">easy to manage</p>
        <p class="article">
          Download our app or manage your plans online.</p>

      </div>

    </div>

  </div>
  <!-- <div class="br"></div> -->
</article>
