<!--white spacer   -->
<div class="whitespace">

</div>



  <div class="jumbotron jumbotron-fluid bg-white ">
    <div class="container">
      <div class="row">
        <div class="col-md-5 bg-orange rounding">

          <p class="lead">we've been named best VNO
            <p class="underjumbo">

              Delivering on the promises that we made to Aussies 6 years ago..</p>
          </p>
          <button type="button" class="btn btn-primary btn-lg round-button">Sign up >
          </button>
        </div>


        <div class="col-md-auto"></div>
        <div class="col-md-5">
          <%=image_tag("jumboright.png", size: "275x200" , alt: "Amaysim")%>
        </div>
      </div>
    </div>
  </div>
</div>
