<!--white spacer   -->
<div class="whitespace">

</div>


  <div class="jumbotron jumbotron-fluid bg-white text-white ">

    <div class="container">
      <div class="row ">
        <div class="col-md-9">
          <h1 class="display-1"></h1>
          <p class="lead jumbotext">we've been named best VNO
            <p class="underjumbo">
              we've been named best VNO
  Delivering on the promises that we made to Aussies 6 years ago..</p>
          </p>
          <button type="button" class="btn btn-primary btn-lg round-button bg-orange">Sign up >
          </button>
        </div>
        <div class="col-md-auto"></div>
        <div class="col-md-2">
          <%=image_tag("jumboright.png", size: "275x200" , alt: "Amaysim")%>
        </div>
      </div>
    </div>
  </div>
</div>
