<div class="container">
  <div class="row">
    <!--manage the bstrap columns  -->
    <div class="col-md-4">

      <div class="card-deck">
        <!-- left card  -->
        <div class="card bg-orange-card-left text-white">
          <div class="container">
            <h4 class="card-title">sim-only mobile plans</h4>
            <div class="card-body">
              <p class="card-text">Unlimited standard talk & text with heaps of data for use in Oz..</p>
            </div>
          </div>
          <!--left image  -->
          <%=image_tag("skateboardleft.png", size: "345x185" , alt: "sim-only", class: "card-image img-fluid")%>
          <div class="card-footer">
            <small class="text-muted">mobile plans</small>
          </div>
        </div>
      </div>
    </div>
      <!-- boot strap column -->
      <div class="col-md-4">
        <!-- middle card  -->
        <div class="card-deck">
          <div class="card bg-orange-card-middle text-white">
            <!--container for text   -->
            <div class="container">
              <h4 class="card-title">nbn broadband plans</h4>
              <div class="card-body">
                <p class="card-text">Unlimited data with superfast speeds. No lock-in contracts.</p>
              </div>
            </div>
            <!--middle image  -->
            <%=image_tag("housemiddle.png", size: "345x185" , alt: "sim-only", class: "card-image img-fluid")%>

            <div class="card-footer">
              <small class="text-muted">nbn plans</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-deck">
          <div class="card bg-orange-card-right text-white">
            <!--container for text   -->
            <div class="container">
              <h4 class="card-title">data-only plans</h4>
              <div class="card-body">
                <p class="card-text">Mobile broadband for your tablets and devices, for use in Oz.</p>
              </div>
            </div>
            <!--right card image  -->
            <%=image_tag("padright2.png", size: "345x185" , alt: "sim-only", class: "card-image img-fluid")%>

            <div class="card-footer">
              <small class="text-muted">data only plans</small>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
