<div class="purple">

  <div class="jumbotron jumbotron-fluid purple text-white ">

    <div class="container">
      <div class="row ">
        <div class="col-md-5">
          <h1 class="display-1"></h1>
          <p class="lead jumbotext text-white">win a Google Home, Chromecast Ultra and a year of nbn™
            <p class="underjumbo text-white">
              Sign up to any nbn plan before 31 August to go into the draw. Plans start from $40 a month. T&Cs apply.</p>
          </p>
          <button type="button" class="btn btn-primary btn-lg round-button bg-orange purple white-text">Sign up >
          </button>
        </div>
        <div class="col-md-auto"></div>
        <div class="col-md-5">
          <%=image_tag("jumboright.png", size: "275x200" , alt: "Amaysim")%>
        </div>
      </div>
    </div>
  </div>
</div>
