<div class="whitespace">

</div>


<div class="purple">

  <div class="jumbotron jumbotron-fluid purple text-white ">

    <div class="container">
      <div class="row ">
        <div class="col-md-2">
          <%=image_tag("canstar.png", size: "150x150" , alt: "canstar")%>
        </div>
        <!--variable column to adjust width  -->
        <div class="col-md-auto"></div>
        <div class="col-md-7">
          <h1 class="display-4 text-align-left"></h1>
          <p class="lead jumbotext">93% of our customers have recommended amaysim to their mates
            <p class="underjumbo">
              NPS tracking survey of 2679 customers, May 2017
            </p>
          </p>
            </div>

          <div class="col-md-2 compare-button">
            <button type="button" class="btn btn-primary btn-lg round-button bg-orange">Compare Plans >
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
